.banner {
            background-color:#102d35;
            color: white;
            padding: 5px 10px;
        }

.west{
	background-color:#383838 ;
}

.footer {
	background-color:#102d35;
	color: white;
	padding-top: 5px;
}